a{
  color: inherit;
}

h1, h2, h3, p, ul, blockquote, img {
  width: 700px;
  margin: 0 auto;
  font-family: 'PT Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;
}

h1 {
  margin-top: 66px;
  font-size: 38px;
  line-height: 44px;
}

h1 + p {
  margin-top: 15px;
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 20px;
  line-height: 31px;
  color: rgba(0, 0, 0, 0.4);
}

img {
  display: block;
  width: 1020px;
  margin: 80px auto;
  margin-top: 80px;
  margin-bottom: 87px;
}

h2 {
  margin-top: 53px;
  font-size: 30px;
  line-height: 34px;
}

h2 + p {
  margin-top: 7px;
}

p, ul, li {
  margin-top: 29px;
  line-height: 32px;
  font-size: 18px;
}

li {
  margin-top: 29px;
  line-height: 20px;
  font-size: 18px;
}

p + h2 {
  margin-top: 43px;
}
h3 {
  margin-top: 36px;
  font-size: 25px;
  line-height: 32px;
}

h3 + p {
  margin-top: 8px;
}

blockquote {
  margin-top: 29px;
  margin-bottom: 29px;
  font-size: 18px;
  line-height: 32px;
  font-style: italic; /* Курсивное начертание */
  background-color: rgba(216, 185, 131, 0.2);
}

.rollover {
float:left;
margin: 4px 10px 2px 115px;
}

.fotoright {
float:right;
margin: 4px 85px 2px 100px;
width: 400px; /* Ширина рисунка */
height: 600px; /*  Высота рисунка */
}

.fotoleft {
float:left;
margin: 4px 85px 2px 100px;
width: 400px; /* Ширина рисунка */
height: 570px; /*  Высота рисунка */
}

p.end {
  margin-bottom: 29px
}
